<footer class="footer">
  <div>
    <p> <img class="logo" src="https://abas-erp.com/profiles/abas/themes/abasgreen/logo.svg" width="173px"></img></p>
  </div>
  <div class="quicklinks">
    <h4>Quick Links</h4>
    <div class="menu-block-wrapper menu-block-6 menu-name-menu-quick-links parent-mlid-0 menu-level-1">
      <ul class="menu">
        <li class="first leaf menu-mlid-3280"><a href="https://abas-erp.com/en/faq-erp-software"
            class="show-mobile">FAQ</a></li>
        <li class="leaf menu-mlid-5142"><a href="/en/privacy-copyright" class="show-mobile">Legal / Privacy</a></li>
        <li class="leaf menu-mlid-5131"><a href="/en/legal-notice">Legal Notice</a></li>
      </ul>

    </div>
  </div>
  <div class="copyright">
  Copyright © 2020 abas Software GmbH. All rights reserved.
  </div>
</footer>