<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <img src="https://abas-erp.com/profiles/abas/themes/abasgreen/logo.svg" width="173px"></img>
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://abas-erp.com">Home</a>
        <a class="navbar-item" href="https://support.atlassian.net">Support</a>
        <a class="navbar-item" href="https://community.abas.de">Community</a>
        </div>
        <div class="navbar-item">
          <span class="control">
            {{!-- <a class="button is-primary" href="#">Download</a> --}}
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>