footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  display: grid;
  grid-template-areas:
    'logo quicklinks '
    'copyright copyright';
  grid-gap: 30px;
  padding: 50px;
}

.footer > div {
  display: inline;
}

.footer p {
  margin: 0.5rem 0;
}

.footer h4 {
  color: var(--abas-green);
  font-size: 22;
  margin: 0;
}

.footer ul {
  padding: 0;
}

.footer li {
  list-style-type: none;
}

.footer a {
  color: var(--footer-link-font-color);
}
